# Виртуальные окружения Python
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Папка с загруженными аудиофайлами пользователей
static/uploads/

# Файлы операционной системы и редакторов
.vscode/
.DS_Store
*.log

1.html
2.html
Приложение А_Мшар.docx
mshar.docx